<h3>Update Product</h3>
<div style="width: 400px;" *ngIf="product">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Product Name</label>
      <input type="text" class="form-control" id="productName" required [(ngModel)]="product.name" name="producttName">
    </div>

    <div class="form-group">
      <label for="name">Product Description</label>
      <input type="text" class="form-control" id="productDesc" required [(ngModel)]="product.description"
        name="productDesc">
    </div>

    <div class="form-group">
      <label for="name">Product Price</label>
      <input type="number" class="form-control" id="productPrice" required [(ngModel)]="product.price"
        name="productPrice">
    </div>
    <div>
      <label>Product Image</label>
      <a><img class="card-img-top" src={{product.pictureUrl}}></a>
      <div *ngIf="currentFileUpload" class="progress">
        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
          attr.aria-valuenow="{{progress.percentage}}" aria-valuemin="0" aria-valuemax="100"
          [ngStyle]="{width:progress.percentage+'%'}">
          {{progress.percentage}}%</div>
      </div>

      <label class="btn btn-primaryy">
        <input type="file" (change)="selectFile($event)">
      </label>

      <button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()">Upload</button>

    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
